HELP.md
.gradle
.github
.gitlab
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Node ###
/node_modules/

### Web Build ###
src/main/resources/public
src/main/resources/templates/index.html

### log ###
/logs/
/log/